.content-block
        p
            line-height 30px
            font-weight 200
            font-size 18px
        b
            font-weight 500
            line-height 30px
            font-size 18px
        a
            color #000
            font-size 18px
            line-height 30px
            white-space nowrap
            text-decoration none
.content-block__separator
    width 100%
    height 2px
    margin 40px 0 30px 0
    background #aaaaaa
.content-block__contacts
    > p:first-child
        white-space nowrap

.content-block__ico
    display block
    height 29px
    width 25px
    margin-right 10px
    float left
.ico__marker
    background url('../img/3_layout_3/1_content-block/content-block__marker.png') center no-repeat
    margin-top 2px
.ico__date
    background url('../img/3_layout_3/1_content-block/content-block__date.png') center no-repeat
    height 39px
@media all and (max-width 1200px)
    .content-block a
        white-space normal
    .content-block__contacts
        >p 
            &:first-child
                white-space normal!important
