.scroll_block
    h3
        font-size 20px
        font-weight 400
        line-height 30px
    ol,
    ul
        padding 0
        list-style-position inside
        > li
            line-height 30px
            font-weight 200
            font-size 18px
    ol
          counter-reset  item
          list-style-type none
          > li
                &:before
                  counter-increment item
                  content counter(item) ". "
                  font-weight bold
    &:before
        content ''
        width 100%
        display block
        left -5px
        position absolute
        bottom: -60px;
        height: 87px;
        opacity: 0.9;
        z-index 10
        background url('../img/2_layout_2/0_scroll_block/scroll_block-fade.png') center no-repeat
    height 670px
    width 100%
    position relative
    h2
        font-size 36px
        font-weight 600
        margin-top 0
    p
        line-height 30px
        font-weight 200
        font-size 18px
        b
            font-weight 500
    a
        color #000
        text-decoration none
@media all and (max-width 1200px)
    .scroll_block
        height auto
        width 100%
        &:before
            content ''
            display none
