.scroll_block
    &:before
        content ''
        width 100%
        display block
        left -5px
        position absolute
        bottom: -60px;
        height: 87px;
        opacity: 0.9;
        z-index 10
        background url('../img/2_layout_2/0_scroll_block/scroll_block-fade.png') center no-repeat
    height 670px
    width 740px
    position relative
    h2
        font-size 36px
        font-weight 600
        margin-top 0
    p
        line-height 30px
        font-weight 200
        font-size 18px
        b
            font-weight 500
    a
        color #000
        text-decoration none       
