.image-thumb
    h2
        font-size 36px
        font-weight 600
        margin-top 0
        margin-bottom 15px
        text-transform: uppercase;
.image-thumb__date
    span
        font-size 18px
        font-weight 400
    b
        font-weight 400
        font-size 18px
        padding-left 30px
    .image-thumb__image
        margin-top 40px
        margin-left -14px
@media all and (max-width 1200px)
    .image-thumb__image img 
        width 100%
