.shareit
    text-align center
    position relative
    width 230px
    margin 100px auto 0 auto
    opacity 1
    animate 1000 ease-in-out
    &.loading
        opacity 0
    span
        font-size 20px
    ul
        list-style none
        padding 0
        margin 10px 0
        li
            display inline-block
            margin 0 4px
            path
                animate 300 ease-in-out
.shareit
    li
        &:nth-child(1):hover
            path
                fill #3b5998
        &:nth-child(2):hover
            path
                fill #ee8208
        &:nth-child(3):hover
            path
                fill #1da1f2
        &:nth-child(4):hover
            path
                fill #507299
.shareit_layout_2
    padding 2px
    width 428px
    margin 102px 0 0 6%
    span
        font-size 20px
        display inline-block
        margin-top 13px
    ul
        float right
.shareit_layout_3
    padding 2px
    width 418px
    margin 0 0 0 0
    span
        font-size 20px
        display inline-block
        margin-top 13px
        float left
    ul
        float right
@media all and (max-width 1200px)
    .shareit_layout_2,
    .shareit_layout_3
        padding 2px
        width 428px
        margin 70px 0 0 0
        text-align left
    .shareit_layout_3
        margin: 10px 0 0 0
@media all and (max-width 980px)
    .shareit__layout-1
            margin 30px auto 0 auto
