.logo_inner
    height 161px
    width 450px
    position absolute
    background url('../img/8_logo-inner/logo_inner.png') no-repeat
    z-index 29
    top: -176px;
    left: -50px;
.logo_inner__title
    margin-top: 33px;
    margin-left: 152px;
    b
        font-weight 400
        font-size 26px
    span
        font-weight 200
        font-size 13px
