.layout_3__frame-wrapper
    padding 0 15px

.layout_3__frame-right,
.layout_3__frame-left
    float left

.layout_3__frame-left
    width 54%
.layout_3__frame-right
    width 46%
    padding-top 96px
