.layout_3__frame-wrapper
    padding 0 15px 30px 15px

.layout_3__frame-right,
.layout_3__frame-left
    float left

.layout_3__frame-left
    width 56%
    h2
        font-size 36px
        font-weight 600
        margin-top 0
.layout_3__frame-right
    width 44%
    padding-top 96px
@media all and (max-width 1200px)
    .layout_3__frame-right,
    .layout_3__frame-left
        width 100%
    .layout_3__frame-right
        padding-top 12px
