.title
    width 765px
    margin 371px auto 65px auto
.title__big-text
    text-align center
    position relative
    > h1
        font-size 80px
        font-weight 800
        letter-spacing 15px
        line-height 80px
        margin-top 0
.title__light-text
    text-align center
    position relative
    > p
        font-weight 200
        font-size 30px
        color #000
        margin-top -30px
